body {
    background-color: rgb(252,252,252) !important;
}

.splatfigure {
    display: inline-block;
}
#myinput {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
  font-weight: 700;
  font-size: 18px;
}
#top {
    width: 100%;
}
#leftarrow {
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
  padding-bottom: 7px;
}
#rightarrow {
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
  padding-bottom: 7px;
}
#locationbutton {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}
#hotbutton {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#selectedmenu {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-left-width: 0px;
}

/* .twitter-typeahead { */
/*     position: relative; */
/* } */

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    margin: auto;
}

.typeahead {
    background-color: #fff;
    text-align: center;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    /* width: 422px; */
    width: 70%;
    margin-top: 12px;
    /* position: absolute; */
    /* left: auto !important; */
    /* margin-right: auto; */
    margin-left: 15% !important;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    text-align: center;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}
/* #map { height: 380px; } */
/* <style> */
/* /\*  give the map some height *\/ */
/* #map { */

/* } */

.state {
    /* fill: #f0efe7; */
    fill: none;
    stroke: black;
    stroke-width: .5px;
    stroke-linejoin: round;
    pointer-events: none;
}

.hoverinfogroup {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#map {
    position: relative;
}

g.citygroup {
    cursor: pointer;
}

div.windowselection {
    display: inline-block;
}

div.variableselection {
    display: inline-block;
    padding-left: 40px;
}

div.yearselection {
    display: inline-block;
    padding-left: 40px;
    vertical-align: top;
}

div#timeline {
    padding-top: 10px;
}

.shown {
    border: 1px solid;
    border-radius: 4px;
    background: rgb(240,240,240);
    /* width: 80px; */
    padding: 4px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.shown button.close {
    font-size: 18px;
    padding-left: 5px;
}

.addcity {
    padding: 4px;
    border: 1px dashed;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    background: rgb(245,245,245);
}

#citybox {
    margin-top: 10px;
}

#cityboxcities {
    display: inline-block;
}

#telebanner1 span {
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220,220,220);
    border-radius: 4px;
    /* display: inline-block; */
    background: rgba(255,248,220,.2);
}

#telebanner2 span {
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220,220,220);
    border-radius: 4px;
    /* display: inline-block; */
    background: rgba(255,248,220,.2);
}
input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
div.wrapper label {
    margin-bottom: 0;
}
input#toggle + label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
input#toggle:checked + label:before {
  width: 50px;
  background: rgba(19, 191, 17, 1);
}

input#toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}